:root{
    --caixa-cor-frente: blue; 
    --caixa-cor-verso: red;
    --fundo: yellow;
    --preto: black;
    --branco: white;
    --cor-texto-destaque: orange;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
}