:root {
    --caixa-cor-frente: #ac735d;
    --caixa-cor-verso: #891fb3;
    --fundo: rgb(255, 255, 255);
    --preto: black;
    --branco: white;
    --cor-texto-destaque: orange;
}

body {
    background-color: var(--fundo);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    display: flex;
    
}